src/main/resources/example config/workspaceConfigSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://github.com/jsjlewis96/project" targetNamespace="https://github.com/jsjlewis96/project">
    <xs:element name="structure" type="structureType"/>
    <xs:complexType name="structureType">
        <xs:sequence>
            <xs:element type="configType" name="config"/>
            <xs:element type="dirsType" name="dirs"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dirsType">
        <xs:sequence>
            <xs:element type="dirType" name="dir" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="configType">
        <xs:sequence>
            <xs:element type="xs:string" name="project"/>
            <xs:element type="xs:string" name="root"/>
            <xs:element type="xs:string" name="target"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dirType">
        <xs:sequence>
            <xs:element name="prefix" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="separator" minOccurs="0"/>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="dirsType" name="dirs" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>